li {
  list-style-type: none;
}

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
  color: #3F434A;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.4em;
}

.appstore-btn {
  height: 60px;
  background-image: url(./img/button_appstore.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.container {
  padding: 25px 20px;
  text-align: center;
}

.leading {
  font-size: .9em;
  letter-spacing: 0.06em;
}

body {
  padding: 0;
  line-height: 1.7;
}

body header .header-wrap {
  width: 100%;
  min-height: 700px;
  padding-top: 50px;
  background: url(./img/bg_header.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}

body header .header-wrap .logo {
  width: 131px;
  height: 120px;
  margin: 27px auto 0 auto;
  background-image: url(./img/header_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes fade-in {
  0% {
    opacity: .6;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: none;
    transform: translate3d(0, 0, 0);
  }
}

body header .header-wrap h1 {
  margin-top: 14px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

body header .header-wrap .appstore-btn {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

body header .header-wrap .note {
  padding-top: 243px;
  padding-bottom: 50px;
}

body header .header-wrap .note p {
  width: fit-content;
  margin: 0 auto 3px auto;
  text-align: left;
  font-size: .8rem;
  color: #fff;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

body .service .service-wrap {
  flex-direction: column;
}

body .service .service-wrap .common {
  height: 550px;
  padding: 22px;
}

body .service .service-wrap h2 {
  margin-bottom: 9px;
  font-weight: 500;
  color: #fff;
}

body .service .service-wrap .leading {
  color: #fff;
}

body .service .service-wrap .service-item1 {
  max-width: 100%;
  background-image: url(./img/bg_service01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

body .service .service-wrap .service-item2 {
  max-width: 100%;
  background-image: url(./img/bg_service02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

body .service .service-wrap .service-item3 {
  max-width: 100%;
  background-image: url(./img/bg_service03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

body .plan .plan-wrap {
  background-color: #F5F5F5;
  padding: 45px 0;
}

body .plan .plan-wrap .plan-wrap-item {
  margin: 0 20px;
}

body .plan .plan-wrap .plan-wrap-item h2 {
  text-align: center;
  margin: 7px;
}

body .plan .plan-wrap .plan-wrap-item .plan-item {
  display: flex;
  justify-content: space-between;
  max-width: 410px;
  margin-bottom: 16px;
}

body .plan .plan-wrap .plan-wrap-item .plan-item .plan-single {
  width: 100%;
  height: 250px;
  margin-right: 15px;
  background: url(./img/plan_single.png) no-repeat #fff;
  background-position: center;
  background-size: 110px 190px;
  border-radius: 12px;
}

body .plan .plan-wrap .plan-wrap-item .plan-item .plan-bouquet {
  width: 100%;
  height: 250px;
  background: url(./img/plan_bouquet.png) no-repeat #fff;
  background-position: center;
  background-size: 110px 190px;
  border-radius: 12px;
}

body .plan .plan-wrap .plan-wrap-item .plan-item .plan-bouquet img {
  position: relative;
  top: -7%;
  right: -63%;
  width: 50%;
}

@media (min-width: 375px) {
  body .plan .plan-wrap .plan-wrap-item .plan-item .plan-bouquet img {
    right: -68%;
    width: 42%;
  }
}

body .plan .plan-wrap .plan-wrap-item P {
  font-size: 0.8em;
}

body .plan .plan-schedule {
  padding: 50px 0;
}

body .plan .plan-schedule h2 {
  text-align: center;
}

body .plan .plan-schedule img {
  width: 47%;
  display: block;
  margin: 0 auto;
  opacity: .7;
}

body .download .download-wrap {
  padding: 50px 0;
  background-color: #3F424A;
}

body .download .download-wrap h3 {
  margin: 0 0 12px 0;
  text-align: center;
  font-size: 1.1em;
  color: #fff;
}

body .summary .container {
  background-color: #EAD5DC;
}

body .summary .container .summary-title h3 {
  font-size: 1.4em;
}

body .summary .container .summary-title img {
  width: 100%;
  object-fit: cover;
}

body .summary .container .summary-text {
  padding-bottom: 30px;
}

body .summary .container .summary-text h4 {
  margin: 18px 0 10px 0;
}

body .summary .container .summary-text p {
  font-size: .9em;
  text-align: left;
}

body .vase {
  background-color: #E7E3DF;
}

body .vase .vase-wrap {
  text-align: center;
}

body .vase .vase-wrap .summary-title {
  padding: 25px 20px;
}

@media (min-width: 375px) {
  body .vase .vase-wrap .summary-title {
    padding: 62px 25px 0 25px;
  }
}

body .vase .vase-wrap .summary-title h3 {
  margin-bottom: 10px;
}

body .vase .vase-wrap .summary-title .vase-discount {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 7px;
  font-size: 13px;
  font-weight: 600;
  background-color: #FFF;
}

body .vase .vase-wrap .vase-img {
  height: 358px;
  background: url(./img/bg_vase.jpg) no-repeat;
  background-size: 109%;
  background-position: center;
}

body .vase .vase-wrap .summary-text {
  padding: 22px 20px;
}

body .vase .vase-wrap .summary-text P {
  padding-bottom: 20px;
  text-align: left;
}

body .vase .vase-wrap .summary-text .vase-wrap {
  display: flex;
  justify-content: space-between;
}

body .vase .vase-wrap .summary-text .vase-wrap .vase-item-common {
  width: 30%;
  height: 117px;
}

body .vase .vase-wrap .summary-text .vase-wrap p {
  position: relative;
  top: 88px;
  font-size: 13px;
  text-align: center;
}

body .vase .vase-wrap .summary-text .vase-wrap .bell {
  background: url(./img/vase_bell.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

body .vase .vase-wrap .summary-text .vase-wrap .moon {
  background: url(./img/vase_moon.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

body .vase .vase-wrap .summary-text .vase-wrap .candle {
  background: url(./img/vase_candle.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

body .vase .vase-wrap .discount {
  padding: 0 20px 45px 20px;
}

@media (min-width: 375px) {
  body .vase .vase-wrap .discount {
    padding-bottom: 62px;
  }
}

body .vase .vase-wrap .discount .discount-about {
  display: flex;
  padding-bottom: 10px;
}

body .vase .vase-wrap .discount .discount-about h5 {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 3px;
  font-size: .9em;
  font-weight: 600;
  border: 2px solid;
}

body .vase .vase-wrap .discount .discount-price {
  margin: auto 0 auto 12px;
}

body .vase .vase-wrap .discount .discount-price h5 {
  padding: 0;
  font-size: 1em;
  border: none;
}

body .vase .vase-wrap .discount .discount-price p {
  font-size: .7em;
}

body .vase .vase-wrap .discount p:last-child {
  text-align: left;
  font-size: .8em;
}

body .description {
  padding: 20px;
}

body .description h2 {
  text-align: center;
}

body .description .description-item {
  text-align: center;
}

body .description .description-item img {
  width: 28%;
}

body .description .description-item h3 {
  margin: 10px 0;
}

body .description .description-item .simple {
  padding-bottom: 20px;
}

body .description .description-item .notice {
  padding-bottom: 20px;
}

body .description .description-item .guarantee {
  padding-bottom: 20px;
}

body .download2 {
  background-color: #EFDFC5;
}

body .download2 .download2-wrap {
  padding-top: 20px;
}

body .download2 .download2-wrap .logo {
  width: 115px;
  height: 115px;
  margin: 0 auto;
  background-image: url(./img/logo_vertical_navy.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

body .download2 .download2-wrap h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1rem;
}

body .download2 .download2-wrap img {
  object-fit: cover;
  width: 100%;
}

body footer {
  background-color: #3F424A;
}

body footer .footer-wrap {
  padding: 30px 30px 0 30px;
}

body footer .footer-wrap ul li {
  padding-bottom: 10px;
}

body footer .footer-wrap ul li a {
  font-size: .9em;
  color: #fff;
}

body footer .fa-instagram {
  position: relative;
  top: -162px;
  left: 255px;
  color: #fff;
}

body footer .copylight {
  padding-bottom: 20px;
  text-align: center;
}

body footer .copylight p {
  color: #8C8D92;
}
