@charset "UTF-8";

// リセット+α
li {
  list-style-type: none;
}
body,p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

// フォント
h1,h2,h3,h4,h5,p {
  color: #3F434A;
}
h1,h2,h3,h4,h5 {
  font-weight: normal;
}
h3 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.4em;
}

@mixin animaitions {
  animation-name: fade-in;
  animation-duration: 2s; //アニメーション時間
  animation-timing-function: ease; //アニメーションさせるイージング
  animation-delay: .2s; //アニメーション開始させる時間
  animation-iteration-count: 1; //繰り返し回数
  animation-direction: normal; //往復処理をするかどうか
}


// モバイルファースト320pxベース
body {
  padding: 0;
  line-height: 1.7;
  overflow-x: hidden;
  grid-template-columns: repeat(12, 1fr);
  header {
    .header-wrap {
      width: 100%;
      min-height: 660px;
      padding-top: 50px;
      background: url(./img/bg_header.jpg) no-repeat center;
      background-size: cover;
      position: relative;
      @media (min-width: 768px) {
        min-height: 800px;
      }
      .logo {
        width: 131px;
        height: 120px;
        margin: 27px auto 0 auto;
        background: url(./img/header_logo.png) no-repeat center;
        background-size: contain;
        @include animaitions;
        @keyframes fade-in {
          0% {
            opacity: .6;
            transform: translate3d(0, 20px, 0);
          }
          100% {
            opacity: none;
            transform: translate3d(0, 0, 0);
          }
        }
        @media (min-width: 768px) {
          margin-top: 110px;
        }
      }
      h1 {
        margin-top: 14px;
        margin-bottom: 25px;
        text-align: center;
        font-size: 1.1rem;
        color: #fff;
        @include animaitions;
      }
      .appstore-btn {
        height: 60px;
        background: url(./img/button_appstore.png) no-repeat center;
        background-size: contain;
        @include animaitions;
      }
      .note {
        padding-top: 243px;
        padding-bottom: 50px;
        p {
          width: fit-content;
          margin: 0 auto 3px auto;
          text-align: left;
          font-size: .8rem;
          color: #fff;
          @include animaitions;
        }
        @media (min-width: 768px) {
          padding-top: 300px;
        }
      }
    }
  }
  .service {
    .service-wrap {
      flex-direction: column;
      @media (min-width: 768px) {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .common {
        height: 550px;
        padding: 22px;
        @media (min-width: 768px) {
          padding: 45px 35px;
        }
      }
      h2 {
        margin-bottom: 9px;
        font-weight: 500;
        color: #fff;
        @media (min-width: 768px) {
          font-size: 1.6em;
          line-height: 1.5;
        }
      }
      .leading {
        font-size: .9em;
        letter-spacing: 0.06em;
        color: #fff;
      }
      .service-item1 {
        max-width: 100%;
        background: url(./img/bg_service01.jpg) no-repeat bottom;
        background-size: cover;
        @media (min-width: 768px) {
          height: 630px;
        }
      }
      .service-item2 {
        max-width: 100%;
        background: url(./img/bg_service02.jpg) no-repeat bottom;
        background-size: cover;
        @media (min-width: 768px) {
          height: 630px;
        }
      }
      .service-item3 {
        max-width: 100%;
        background: url(./img/bg_service03.jpg) no-repeat bottom;
        background-size: cover;
        @media (min-width: 768px) {
          height: 630px;
        }
      }
    }
  }
  .plan {
    @media (min-width: 824px) {
      grid-template-columns: 55% 45%;
      display: grid;
    }
    .plan-wrap {
      background-color: #F5F5F5;
      padding: 45px 0;
      .plan-wrap-item {
        margin: 0 20px;
        h2 {
          text-align: center;
          margin: 7px;
          @media (min-width: 768px) {
            font-size: 1.6em;
          }
        }
        .plan-item-list {
          @media (min-width: 426px) {
            margin: 0 auto;
            width: 410px;
          }
          .plan-item {
            display: flex;
            justify-content: space-between;
            max-width: 410px;
            margin-bottom: 16px;
            @media (min-width: 768px) {
              margin: 0 auto 16px auto;
            }
            .plan-single {
              width: 100%;
              height: 250px;
              margin-right: 15px;
              background: #fff url(./img/plan_single.png) no-repeat center;
              background-size: 110px 190px;
              border-radius: 12px;
            }
            .plan-bouquet {
              width: 100%;
              height: 250px;
              background: #fff url(./img/plan_bouquet.png) no-repeat center;
              background-size: 110px 190px;
              border-radius: 12px;
              img {
                position: relative;
                top: -7%;
                right: -63%;
                width: 50%;
                @media (min-width: 375px) {
                  right: -68%;
                  width: 42%;
                } 
                @media (min-width: 425px) {
                  right: -71%;
                  width: 36%;
                }
              }
            }
          }
          P {
            font-size: 0.8em;
          }
        }
      }
    }
  .plan-schedule {
    padding: 50px 0;
    @media (min-width: 824px) {
      align-self: center;
    }
    h2 {
      text-align: center;
    }
    img {
    width: 47%;
    display: block;
    margin: 0 auto;
    opacity: .7;
    @media (min-width: 425px) {
      width: 44%;
    }
    @media (min-width: 768px) {
      width: 23%;
    }
    @media (min-width: 824px) {
      width: 30%;
    }
    }
  }
  }
  .download {
    @media (min-width: 768px) {
      display: none;
    }
    .download-wrap {
      padding: 50px 0;
      background-color: #3F424A;
      h3 {
        margin: 0 0 12px 0;
        text-align: center;
        font-size: 1.1em;
        color: #fff;
      }
      .appstore-btn {
        height: 60px;
        background: url(./img/button_appstore.png) no-repeat center;
        background-size: contain;
      }
    }
  }
  .summary {
    .container {
      padding: 25px 20px;
      text-align: center;
      background-color: #EAD5DC;
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 1024px) {
        padding: 100px 40px;
      }
      .summary-title {
        @media (min-width: 768px) {
          grid-column: 2;
        }
        h3 {
          font-size: 1.4em;
          @media (min-width: 1024px) {
            font-size: 1.6em;
          }
        }
      }
      img {
        width: 100%;
        object-fit: cover;
        @media (min-width: 768px) {
          margin-top: 35px;
        }
        @media (min-width: 1024px) {
          margin-top: 0;
        }
        @media (min-width: 1440px) {
          grid-row: 1 / span 2;
        }
      }
      .summary-text {
        padding-bottom: 30px;
        @media (min-width: 1024px) {
          padding: 0 31px 30px 31px;
        }
        @media (min-width: 1440px) {
          padding: 0 126px;
        }
        h4 {
          margin: 18px 0 10px 0;
        }
        p {
          font-size: .9em;
          text-align: left;
          @media (min-width: 1440px) {
            font-size: 1em;
          }
        }
      }
    }
  }
  .vase {
    .vase-wrap {
      text-align: center;
      background-color: #E7E3DF;
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 1024px) {
        padding: 30px 0;
      }
      .summary-title{
        padding: 25px 20px;
        @media (min-width: 375px) {
          padding: 62px 25px 0 25px;
        }
        h3 {
          margin-bottom: 10px;
          @media (min-width: 1024px) {
            font-size: 1.7em;
          }
        }
        .vase-discount {
          display: block;
          width: fit-content;
          margin: 0 auto;
          padding: 7px;
          font-size: 13px;
          font-weight: 600;
          background-color: #FFF;
        }
      }
      .vase-img {
        height: 370px;
        background: url(./img/bg_vase.jpg) no-repeat center;
        background-size: 370px;
        @media (min-width: 375px) {
          height: 370px;
          background-size: 390px;
        }
        @media (min-width: 425px) {
          height: 438px;
          background-size: 460px;
          background-position: bottom;
        }
        @media (min-width: 768px) {
          grid-column: 2;
          grid-row: 1 / span 3;
          align-self: center;
        }
        @media (min-width: 1024px) {
          height: 580px;
          background-size: 118%;
          background-position: bottom;
          background-position-y: center;
        }
      }
      .summary-text {
        padding: 22px 20px;
        @media (min-width: 425px) {
          margin: 10px auto;
          padding: 20px;
          width: 390px;
        }
        P {
          padding-bottom: 20px;
          text-align: left;
        }
        .vase-item-wrap {
          display: flex;
          justify-content: space-between;
          .vase-item-common {
            width: 30%;
            height: 117px;
            @media (min-width: 1024px) {
              width: 25%;
            }
          }
          p {
            position: relative;
            top: 88px;
            font-size: 13px;
            text-align: center;
            @media (min-width: 425px) {
              top: 93px;
            }
          }
          .bell {
            background: url(./img/vase_bell.jpg) no-repeat center;
            background-size: cover;
          }
          .moon {
            background: url(./img/vase_moon.jpg) no-repeat center;
            background-size: cover;
          }
          .candle {
            background: url(./img/vase_candle.jpg) no-repeat center;
            background-size: cover;
          }
        }
      }
    .discount {
      padding: 0 20px 45px 20px;
      letter-spacing: 0.04em;
      @media (min-width: 375px) {
        padding-bottom: 62px;
      }
      @media (min-width: 425px) {
        margin: auto;
        width: 390px;
      }
      .discount-about {
        display: flex;
        padding-bottom: 10px;
        h5 {
          display: block;
          width: fit-content;
          height: fit-content;
          margin: 0;
          padding: 3px;
          font-size: .9em;
          font-weight: 600;
          border: 2px solid;
      }
        }
        .discount-price {
          margin: auto 0 auto 12px;
          h5 {
            padding: 0;
            font-size: 1em;
            border: none;
          }
          p{
            font-size: .7em;
          }
        }
        p:last-child {
          text-align: left;
          font-size: .8em;
        }
        }
    }
  }
  .description {
    padding: 40px 20px;
    @media (min-width: 768px) {
      padding: 50px 20px;
    }
    h2 {
      text-align: center;
    }
    .description-item {
      @media (max-width: 716px) and (min-width: 485px){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
      }
      @media (min-width: 717px) {
        display: flex;
        justify-content: space-around;
        padding-bottom: 60px;
      }
      text-align: center;
      img {
        width: 80px;
      }
      h3 {
        margin: 10px 0;
        @media (min-width: 717px) {
          font-size: 1.6em;
        }
      }
      .simple {
        padding-bottom: 20px;
        @media (max-width: 716px) and (min-width: 485px){
          grid-column: 1/3;
          grid-row: 1;
        }
      }
      .notice {
        padding-bottom: 20px;
        @media (max-width: 716px) and (min-width: 485px){
          grid-column: 3/5;
          grid-row: 1;
        }
      }
      .guarantee {
        padding-bottom: 20px;
        @media (max-width: 716px) and (min-width: 485px){
          grid-column: 2/4;
          grid-row: 2;
        }
      }
    }
  }
  .download2 {
    background-color: #EFDFC5;
    .download2-wrap {
      padding-top: 20px;
      @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        height: 420px;
      }
      .download2-text {
        @media (min-width: 768px) {
          position: relative;
          right: 90px;
          z-index: 1;
        }
        @media (min-width: 1024px) {
          position: relative;
          top: 30px;
          left: -100px;
        }
        @media (min-width: 1440px) {
          top: 20px;
          left: 15px;
        }
        .logo {
          width: 115px;
          height: 115px;
          margin: 0 auto;
          background: url(./img/logo_vertical_navy.png) no-repeat center;
          background-size: contain;
        }
        h1 {
          margin-top: 0px;
          margin-bottom: 20px;
          text-align: center;
          font-size: 1rem;
        }
      }
      img {
        object-fit: cover;
        width: 100%;
        @media (min-width: 768px) {
          width: 50%;
          position: relative;
          left: 70px;
        }
        @media (min-width: 1440px) {
          width: 35%;
          left: 7px;
        }
      }
    }
  }
  footer {
    .footer-wrap {
      // display: -webkit-flex;
      background-color: #3F424A;
      @media (min-width: 768px) {
        height: 226px;
        display: -webkit-flex; //768px〜インスタアイコンとcopylightをBottomを基準に配置
        -webkit-flex-direction: column; //横並び
        -webkit-justify-content: space-between; //均等に
      }
      @media (min-width: 1024px) {
        height: 270px;
      }
      @media (min-width: 1440px) {
        height: 300px;
      }
      .footer-nav {
        padding: 30px 30px 0 30px;
        @media (min-width: 768px) {
          padding: 50px 140px 0 30px;
        }
        @media (min-width: 1024px) {
          padding-top: 65px;
        }
        ul {
          @media (min-width: 768px) {
            display: flex;
            justify-content: space-around;
          }
          li {
            padding-bottom: 10px;
            a{
            font-size: .9em;
            color: #fff;
            }
          }
        }
      }
      .fa-instagram {
        position: relative;
        top: -174px;
        color: #fff;
        display: block;
        margin-right: 20px;
        margin-left: auto;
        width: fit-content;
        @media (min-width: 768px) {
          top: -79px;
        }
      }
      .copylight {
        padding-bottom: 20px;
        text-align: center;
        p {
          color: #8C8D92;
        }
      }
    }
  }
}