li {
  list-style-type: none;
}

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  color: #3F434A;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.4em;
}

body {
  padding: 0;
  line-height: 1.7;
  overflow-x: hidden;
  grid-template-columns: repeat(12, 1fr);
}

body header .header-wrap {
  width: 100%;
  min-height: 660px;
  padding-top: 50px;
  background: url(./img/bg_header.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

@media (min-width: 768px) {
  body header .header-wrap {
    min-height: 800px;
  }
}

body header .header-wrap .logo {
  width: 131px;
  height: 120px;
  margin: 27px auto 0 auto;
  background: url(./img/header_logo.png) no-repeat center;
  background-size: contain;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes fade-in {
  0% {
    opacity: .6;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: none;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 768px) {
  body header .header-wrap .logo {
    margin-top: 110px;
  }
}

body header .header-wrap h1 {
  margin-top: 14px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

body header .header-wrap .appstore-btn {
  height: 60px;
  background: url(./img/button_appstore.png) no-repeat center;
  background-size: contain;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

body header .header-wrap .note {
  padding-top: 243px;
  padding-bottom: 50px;
}

body header .header-wrap .note p {
  width: fit-content;
  margin: 0 auto 3px auto;
  text-align: left;
  font-size: .8rem;
  color: #fff;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@media (min-width: 768px) {
  body header .header-wrap .note {
    padding-top: 300px;
  }
}

body .service .service-wrap {
  flex-direction: column;
}

@media (min-width: 768px) {
  body .service .service-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

body .service .service-wrap .common {
  height: 550px;
  padding: 22px;
}

@media (min-width: 768px) {
  body .service .service-wrap .common {
    padding: 45px 35px;
  }
}

body .service .service-wrap h2 {
  margin-bottom: 9px;
  font-weight: 500;
  color: #fff;
}

@media (min-width: 768px) {
  body .service .service-wrap h2 {
    font-size: 1.6em;
    line-height: 1.5;
  }
}

body .service .service-wrap .leading {
  font-size: .9em;
  letter-spacing: 0.06em;
  color: #fff;
}

body .service .service-wrap .service-item1 {
  max-width: 100%;
  background: url(./img/bg_service01.jpg) no-repeat bottom;
  background-size: cover;
}

@media (min-width: 768px) {
  body .service .service-wrap .service-item1 {
    height: 630px;
  }
}

body .service .service-wrap .service-item2 {
  max-width: 100%;
  background: url(./img/bg_service02.jpg) no-repeat bottom;
  background-size: cover;
}

@media (min-width: 768px) {
  body .service .service-wrap .service-item2 {
    height: 630px;
  }
}

body .service .service-wrap .service-item3 {
  max-width: 100%;
  background: url(./img/bg_service03.jpg) no-repeat bottom;
  background-size: cover;
}

@media (min-width: 768px) {
  body .service .service-wrap .service-item3 {
    height: 630px;
  }
}

@media (min-width: 824px) {
  body .plan {
    grid-template-columns: 55% 45%;
    display: grid;
  }
}

body .plan .plan-wrap {
  background-color: #F5F5F5;
  padding: 45px 0;
}

body .plan .plan-wrap .plan-wrap-item {
  margin: 0 20px;
}

body .plan .plan-wrap .plan-wrap-item h2 {
  text-align: center;
  margin: 7px;
}

@media (min-width: 768px) {
  body .plan .plan-wrap .plan-wrap-item h2 {
    font-size: 1.6em;
  }
}

@media (min-width: 426px) {
  body .plan .plan-wrap .plan-wrap-item .plan-item-list {
    margin: 0 auto;
    width: 410px;
  }
}

body .plan .plan-wrap .plan-wrap-item .plan-item-list .plan-item {
  display: flex;
  justify-content: space-between;
  max-width: 410px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  body .plan .plan-wrap .plan-wrap-item .plan-item-list .plan-item {
    margin: 0 auto 16px auto;
  }
}

body .plan .plan-wrap .plan-wrap-item .plan-item-list .plan-item .plan-single {
  width: 100%;
  height: 250px;
  margin-right: 15px;
  background: #fff url(./img/plan_single.png) no-repeat center;
  background-size: 110px 190px;
  border-radius: 12px;
}

body .plan .plan-wrap .plan-wrap-item .plan-item-list .plan-item .plan-bouquet {
  width: 100%;
  height: 250px;
  background: #fff url(./img/plan_bouquet.png) no-repeat center;
  background-size: 110px 190px;
  border-radius: 12px;
}

body .plan .plan-wrap .plan-wrap-item .plan-item-list .plan-item .plan-bouquet img {
  position: relative;
  top: -7%;
  right: -63%;
  width: 50%;
}

@media (min-width: 375px) {
  body .plan .plan-wrap .plan-wrap-item .plan-item-list .plan-item .plan-bouquet img {
    right: -68%;
    width: 42%;
  }
}

@media (min-width: 425px) {
  body .plan .plan-wrap .plan-wrap-item .plan-item-list .plan-item .plan-bouquet img {
    right: -71%;
    width: 36%;
  }
}

body .plan .plan-wrap .plan-wrap-item .plan-item-list P {
  font-size: 0.8em;
}

body .plan .plan-schedule {
  padding: 50px 0;
}

@media (min-width: 824px) {
  body .plan .plan-schedule {
    align-self: center;
  }
}

body .plan .plan-schedule h2 {
  text-align: center;
}

body .plan .plan-schedule img {
  width: 47%;
  display: block;
  margin: 0 auto;
  opacity: .7;
}

@media (min-width: 425px) {
  body .plan .plan-schedule img {
    width: 44%;
  }
}

@media (min-width: 768px) {
  body .plan .plan-schedule img {
    width: 23%;
  }
}

@media (min-width: 824px) {
  body .plan .plan-schedule img {
    width: 30%;
  }
}

@media (min-width: 768px) {
  body .download {
    display: none;
  }
}

body .download .download-wrap {
  padding: 50px 0;
  background-color: #3F424A;
}

body .download .download-wrap h3 {
  margin: 0 0 12px 0;
  text-align: center;
  font-size: 1.1em;
  color: #fff;
}

body .download .download-wrap .appstore-btn {
  height: 60px;
  background: url(./img/button_appstore.png) no-repeat center;
  background-size: contain;
}

body .summary .container {
  padding: 25px 20px;
  text-align: center;
  background-color: #EAD5DC;
}

@media (min-width: 768px) {
  body .summary .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  body .summary .container {
    padding: 100px 40px;
  }
}

@media (min-width: 768px) {
  body .summary .container .summary-title {
    grid-column: 2;
  }
}

body .summary .container .summary-title h3 {
  font-size: 1.4em;
}

@media (min-width: 1024px) {
  body .summary .container .summary-title h3 {
    font-size: 1.6em;
  }
}

body .summary .container img {
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  body .summary .container img {
    margin-top: 35px;
  }
}

@media (min-width: 1024px) {
  body .summary .container img {
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  body .summary .container img {
    grid-row: 1 / span 2;
  }
}

body .summary .container .summary-text {
  padding-bottom: 30px;
}

@media (min-width: 1024px) {
  body .summary .container .summary-text {
    padding: 0 31px 30px 31px;
  }
}

@media (min-width: 1440px) {
  body .summary .container .summary-text {
    padding: 0 126px;
  }
}

body .summary .container .summary-text h4 {
  margin: 18px 0 10px 0;
}

body .summary .container .summary-text p {
  font-size: .9em;
  text-align: left;
}

@media (min-width: 1440px) {
  body .summary .container .summary-text p {
    font-size: 1em;
  }
}

body .vase .vase-wrap {
  text-align: center;
  background-color: #E7E3DF;
}

@media (min-width: 768px) {
  body .vase .vase-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  body .vase .vase-wrap {
    padding: 30px 0;
  }
}

body .vase .vase-wrap .summary-title {
  padding: 25px 20px;
}

@media (min-width: 375px) {
  body .vase .vase-wrap .summary-title {
    padding: 62px 25px 0 25px;
  }
}

body .vase .vase-wrap .summary-title h3 {
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  body .vase .vase-wrap .summary-title h3 {
    font-size: 1.7em;
  }
}

body .vase .vase-wrap .summary-title .vase-discount {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 7px;
  font-size: 13px;
  font-weight: 600;
  background-color: #FFF;
}

body .vase .vase-wrap .vase-img {
  height: 370px;
  background: url(./img/bg_vase.jpg) no-repeat center;
  background-size: 370px;
}

@media (min-width: 375px) {
  body .vase .vase-wrap .vase-img {
    height: 370px;
    background-size: 390px;
  }
}

@media (min-width: 425px) {
  body .vase .vase-wrap .vase-img {
    height: 438px;
    background-size: 460px;
    background-position: bottom;
  }
}

@media (min-width: 768px) {
  body .vase .vase-wrap .vase-img {
    grid-column: 2;
    grid-row: 1 / span 3;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  body .vase .vase-wrap .vase-img {
    height: 580px;
    background-size: 118%;
    background-position: bottom;
    background-position-y: center;
  }
}

body .vase .vase-wrap .summary-text {
  padding: 22px 20px;
}

@media (min-width: 425px) {
  body .vase .vase-wrap .summary-text {
    margin: 10px auto;
    padding: 20px;
    width: 390px;
  }
}

@media (min-width: 1024px) {
  body .vase .vase-wrap .summary-text {
    padding: 30px 63px;
  }
}

body .vase .vase-wrap .summary-text P {
  padding-bottom: 20px;
  text-align: left;
}

body .vase .vase-wrap .summary-text .vase-item-wrap {
  display: flex;
  justify-content: space-between;
}

body .vase .vase-wrap .summary-text .vase-item-wrap .vase-item-common {
  width: 30%;
  height: 117px;
}

@media (min-width: 1024px) {
  body .vase .vase-wrap .summary-text .vase-item-wrap .vase-item-common {
    width: 25%;
  }
}

body .vase .vase-wrap .summary-text .vase-item-wrap p {
  position: relative;
  top: 88px;
  font-size: 13px;
  text-align: center;
}

@media (min-width: 425px) {
  body .vase .vase-wrap .summary-text .vase-item-wrap p {
    top: 93px;
  }
}

body .vase .vase-wrap .summary-text .vase-item-wrap .bell {
  background: url(./img/vase_bell.jpg) no-repeat center;
  background-size: cover;
}

body .vase .vase-wrap .summary-text .vase-item-wrap .moon {
  background: url(./img/vase_moon.jpg) no-repeat center;
  background-size: cover;
}

body .vase .vase-wrap .summary-text .vase-item-wrap .candle {
  background: url(./img/vase_candle.jpg) no-repeat center;
  background-size: cover;
}

body .vase .vase-wrap .discount {
  padding: 0 20px 45px 20px;
  letter-spacing: 0.04em;
}

@media (min-width: 375px) {
  body .vase .vase-wrap .discount {
    padding-bottom: 62px;
  }
}

@media (min-width: 425px) {
  body .vase .vase-wrap .discount {
    margin: auto;
    width: 390px;
  }
}

@media (min-width: 1024px) {
  body .vase .vase-wrap .discount {
    padding: 0 63px 62px 63px;
  }
}

body .vase .vase-wrap .discount .discount-about {
  display: flex;
  padding-bottom: 10px;
}

body .vase .vase-wrap .discount .discount-about h5 {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 3px;
  font-size: .9em;
  font-weight: 600;
  border: 2px solid;
}

body .vase .vase-wrap .discount .discount-price {
  margin: auto 0 auto 12px;
}

body .vase .vase-wrap .discount .discount-price h5 {
  padding: 0;
  font-size: 1em;
  border: none;
}

body .vase .vase-wrap .discount .discount-price p {
  font-size: .7em;
}

body .vase .vase-wrap .discount p:last-child {
  text-align: left;
  font-size: .8em;
}

body .description {
  padding: 40px 20px;
}

@media (min-width: 768px) {
  body .description {
    padding: 50px 20px;
  }
}

body .description h2 {
  text-align: center;
}

body .description .description-item {
  text-align: center;
}

@media (max-width: 716px) and (min-width: 485px) {
  body .description .description-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 717px) {
  body .description .description-item {
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
  }
}

body .description .description-item img {
  width: 80px;
}

body .description .description-item h3 {
  margin: 10px 0;
}

@media (min-width: 717px) {
  body .description .description-item h3 {
    font-size: 1.6em;
  }
}

body .description .description-item .simple {
  padding-bottom: 20px;
}

@media (max-width: 716px) and (min-width: 485px) {
  body .description .description-item .simple {
    grid-column: 1/3;
    grid-row: 1;
  }
}

body .description .description-item .notice {
  padding-bottom: 20px;
}

@media (max-width: 716px) and (min-width: 485px) {
  body .description .description-item .notice {
    grid-column: 3/5;
    grid-row: 1;
  }
}

body .description .description-item .guarantee {
  padding-bottom: 20px;
}

@media (max-width: 716px) and (min-width: 485px) {
  body .description .description-item .guarantee {
    grid-column: 2/4;
    grid-row: 2;
  }
}

body .download2 {
  background-color: #EFDFC5;
}

body .download2 .download2-wrap {
  padding-top: 20px;
}

@media (min-width: 768px) {
  body .download2 .download2-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 420px;
  }
}

@media (min-width: 768px) {
  body .download2 .download2-wrap .download2-text {
    position: relative;
    right: 90px;
    z-index: 1;
  }
}

@media (min-width: 1024px) {
  body .download2 .download2-wrap .download2-text {
    position: relative;
    top: 30px;
    left: -100px;
  }
}

@media (min-width: 1440px) {
  body .download2 .download2-wrap .download2-text {
    top: 20px;
    left: 15px;
  }
}

body .download2 .download2-wrap .download2-text .logo {
  width: 115px;
  height: 115px;
  margin: 0 auto;
  background: url(./img/logo_vertical_navy.png) no-repeat center;
  background-size: contain;
}

body .download2 .download2-wrap .download2-text h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1rem;
}

body .download2 .download2-wrap img {
  object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  body .download2 .download2-wrap img {
    width: 50%;
    position: relative;
    left: 70px;
  }
}

@media (min-width: 1440px) {
  body .download2 .download2-wrap img {
    width: 35%;
    left: 7px;
  }
}

body footer .footer-wrap {
  background-color: #3F424A;
}

@media (min-width: 768px) {
  body footer .footer-wrap {
    height: 226px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  body footer .footer-wrap {
    height: 270px;
  }
}

@media (min-width: 1440px) {
  body footer .footer-wrap {
    height: 300px;
  }
}

body footer .footer-wrap .footer-nav {
  padding: 30px 30px 0 30px;
}

@media (min-width: 768px) {
  body footer .footer-wrap .footer-nav {
    padding: 50px 140px 0 30px;
  }
}

@media (min-width: 1024px) {
  body footer .footer-wrap .footer-nav {
    padding-top: 65px;
  }
}

@media (min-width: 768px) {
  body footer .footer-wrap .footer-nav ul {
    display: flex;
    justify-content: space-around;
  }
}

body footer .footer-wrap .footer-nav ul li {
  padding-bottom: 10px;
}

body footer .footer-wrap .footer-nav ul li a {
  font-size: .9em;
  color: #fff;
}

body footer .footer-wrap .fa-instagram {
  position: relative;
  top: -174px;
  color: #fff;
  display: block;
  margin-right: 20px;
  margin-left: auto;
  width: fit-content;
}

@media (min-width: 768px) {
  body footer .footer-wrap .fa-instagram {
    top: -79px;
  }
}

body footer .footer-wrap .copylight {
  padding-bottom: 20px;
  text-align: center;
}

body footer .footer-wrap .copylight p {
  color: #8C8D92;
}
