@charset "UTF-8";

// リセット
li {
  list-style-type: none;
}
body,p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

// ベーススタイル
body {
  overflow-x: hidden;
}

// フォント
h1,h2,h3,h4,h5,p {
  color: #3F434A;
}
h1,h2,h3,h4,h5 {
  font-weight: normal;
}
h3 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.4em;
}


//共通
.appstore-btn {
  height: 60px;
  background-image: url(./img/button_appstore.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.container {
  padding: 25px 20px;
  text-align: center;
}
.leading {
  font-size: .9em;
  letter-spacing: 0.06em;
}


// モバイル最小(320px〜)
body {
  padding: 0;
  line-height: 1.7;
  header {
    .header-wrap {
      // height: 100vh;
      width: 100%;
      min-height: 700px;
      padding-top: 50px;
      background: url(./img/bg_header.jpg) no-repeat;
      background-size: cover;
      background-position: bottom;
      // background-position: center;
      .logo {
        width: 131px;
        height: 120px;
        margin: 27px auto 0 auto;
        background-image: url(./img/header_logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        animation-name: fade-in;
        animation-duration: 2s; //アニメーション時間
        animation-timing-function: ease; //アニメーションさせるイージング
        animation-delay: .2s; //アニメーション開始させる時間
        animation-iteration-count: 1; //繰り返し回数
        animation-direction: normal; //往復処理をするかどうか
        @keyframes fade-in {
          0% {
            opacity: .6;
            transform: translate3d(0, 20px, 0);
          }
          100% {
            opacity: none;
            transform: translate3d(0, 0, 0);
          }
        }
      }
      h1 {
        margin-top: 14px;
        margin-bottom: 25px;
        text-align: center;
        font-size: 1.1rem;
        color: #fff;
        animation-name: fade-in;
        animation-duration: 2s; //アニメーション時間
        animation-timing-function: ease; //アニメーションさせるイージング
        animation-delay: .2s; //アニメーション開始させる時間
        animation-iteration-count: 1; //繰り返し回数
        animation-direction: normal; //往復処理をするかどうか
      }
      .appstore-btn {
        animation-name: fade-in;
        animation-duration: 2s; //アニメーション時間
        animation-timing-function: ease; //アニメーションさせるイージング
        animation-delay: .2s; //アニメーション開始させる時間
        animation-iteration-count: 1; //繰り返し回数
        animation-direction: normal; //往復処理をするかどうか
      }
      .note {
        padding-top: 243px;
        padding-bottom: 50px;
        p {
          width: fit-content;
          margin: 0 auto 3px auto;
          text-align: left;
          font-size: .8rem;
          color: #fff;
          animation-name: fade-in;
          animation-duration: 2s; //アニメーション時間
          animation-timing-function: ease; //アニメーションさせるイージング
          animation-delay: .2s; //アニメーション開始させる時間
          animation-iteration-count: 1; //繰り返し回数
          animation-direction: normal; //往復処理をするかどうか
        }
      }
    }
  }
  .service {
    .service-wrap {
      flex-direction: column;
      // display: grid; これはPCの時に使う
      // grid-template-columns: 1fr 1fr 1fr;
      .common {
        // display: flex;
        height: 550px;
        padding: 22px;
      }
      h2 {
        margin-bottom: 9px;
        font-weight: 500;
        color: #fff;
      }
      .leading {
        color: #fff;
      }
      .service-item1 {
        max-width: 100%;
        background-image: url(./img/bg_service01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
      .service-item2 {
        max-width: 100%;
        background-image: url(./img/bg_service02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
      .service-item3 {
        max-width: 100%;
        background-image: url(./img/bg_service03.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
    }
  }
  .plan {
    .plan-wrap {
      background-color: #F5F5F5;
      padding: 45px 0;
      .plan-wrap-item {
        margin: 0 20px;
        h2 {
          text-align: center;
          margin: 7px;
        }
        .plan-item {
          display: flex;
          justify-content: space-between;
          max-width: 410px;
          margin-bottom: 16px;
          .plan-single {
            width: 100%;
            // width: 195px;
            height: 250px;
            margin-right: 15px;
            background: url(./img/plan_single.png) no-repeat #fff;
            // background-size: cover;
            background-position: center;
            background-size: 110px 190px;
            border-radius: 12px;
          }
          .plan-bouquet {
            width: 100%;
            // width: 195px;
            height: 250px;
            background: url(./img/plan_bouquet.png) no-repeat #fff;
            // background-size: cover;
            background-position: center;
                background-size: 110px 190px;
            border-radius: 12px;
            img {
              position: relative;
              // top: -16px;
              // right: -109px;
              top: -7%;
              right: -63%;
              width: 50%;
            }
          }
        }
        P {
          font-size: 0.8em;
        }
      }
    }
  .plan-schedule {
    padding: 50px 0;
    h2 {
      text-align: center;
    }
    img {
    width: 47%;
    display: block;
    margin: 0 auto;
    opacity: .7;
    }
  }
  }
  .download {
    .download-wrap {
      padding: 50px 0;
      background-color: #3F424A;
      h3 {
        margin: 0 0 12px 0;
        text-align: center;
        font-size: 1.1em;
        color: #fff;
      }
    }
  }
  .summary {
    .container {
      background-color: #EAD5DC;
      .summary-title {
        h3 {
          font-size: 1.4em;
        }
        img {
          width: 100%;
          // height: 278px;
          object-fit: cover;
        }
      }
      .summary-text {
        padding-bottom: 30px;
        h4 {
          margin: 18px 0 10px 0;
        }
        p {
          font-size: .9em;
          text-align: left;
        }
      }
    }
  }
  .vase {
    background-color: #E7E3DF;
    .container {
      .summary-title{
        h3 {
          margin-bottom: 10px;
        }
        .vase-discount {
          display: block;
          width: fit-content;
          margin: 0 auto;
          padding: 7px;
          font-size: 13px;
          font-weight: 600;
          background-color: #FFF;
        }
      }
      img {
        width: 100%;
        margin: 0;
        object-fit: cover;
      }
      .summary-text {
        padding: 0 8px 20px 8px;
        P {
          padding-bottom: 20px;
          text-align: left;
        }
        .vase-wrap {
          display: flex;
          justify-content: space-between;
          .vase-item-common {
            width: 30%;
            height: 117px;
          }
          p {
            position: relative;
            top: 88px;
            font-size: 13px;
            text-align: center;
          }
          .bell {
            background: url(./img/vase_bell.jpg) no-repeat;
            background-size: cover;
            background-position: center;
          }
          .moon {
            background: url(./img/vase_moon.jpg) no-repeat;
            background-size: cover;
            background-position: center;
          }
          .candle {
            background: url(./img/vase_candle.jpg) no-repeat;
            background-size: cover;
            background-position: center;
          }
        }
      }
    .discount {
      margin-bottom: 12px;
      .discount-about {
        display: flex;
        h5 {
          display: block;
          width: fit-content;
          height: fit-content;
          margin: 0;
          padding: 3px;
          font-size: .9em;
          font-weight: 600;
          border: 2px solid;
      }
        }
        .discount-price {
          margin: auto 0 auto 12px;
          h5 {
            padding: 0;
            font-size: 1em;
            border: none;
          }
          p{
            font-size: .7em;
          }
        }
      }
      p:last-child {
        text-align: left;
        font-size: .8em;
      }
    }
  }
  .description {
    padding: 20px;
    h2 {
      text-align: center;
    }
    .description-item {
      text-align: center;
      img {
        width: 28%;
      }
      h3 {
        margin: 10px 0;
      }
      .simple {

      }
      .notice {

      }
      .guarantee {

      }
    }
  }
  .download2 {
    background-color: #EFDFC5;
    .download2-wrap {
      padding-top: 20px;
      .logo {
        width: 110px;
        height: 110px;
        margin: 0 auto;
        background-image: url(./img/logo_vertical_navy.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      h1 {
        margin-top: 14px;
        margin-bottom: 25px;
        text-align: center;
        font-size: 1rem;
      }
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
  footer {
    background-color: #3F424A;
    .footer-wrap {
      padding: 30px 30px 0 30px;
      ul {
        li {
          padding-bottom: 10px;
          a{
          font-size: .9em;
          color: #fff;
          }
        }
      }
    }
    .fa-instagram {
      position: relative;
      top: -162px;
      left: 255px;  
      color: #fff;
    }
    .copylight {
      padding-bottom: 20px;
      text-align: center;
      p {
        color: #8C8D92;
      }
    }
  }
}//body
